body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
<<<<<<< HEAD
  padding: 12px 15px;
  border: 1px solid #222;
  max-width: 300px;
  margin: 0 auto;
}
=======
  padding:12px 15px;
  border: 1px solid #222;
  max-width: 300px;
  margin: 10px auto;
}
>>>>>>> b2b23f7af1324bfa0d9fc3424bc38fefdbd36d94
